/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.background_color_light_grey {
  background-color: white
}

.text_align_left {
  text-align: left;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.shadow_box {
  box-shadow: 8px 8px 11px #9E9EA3;
}

.shadow_box_input {
  box-shadow: 8px 8px 11px #ffffff;
}

.shadow_none .form-control:focus {
  box-shadow: none;
}

.input_hight_45 {
  height: 45px;
}

.background_color_light_grey {
  background-color: white
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */
body {
  background: #f8f8fb;
}

.bg-master {
  background: #fd8111;
  padding: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 16px;
  padding: 15px 15px 15px 15px !important;
  display: inline-block;
  font-weight: 600;
}

.navbar-nav .nav-link .fa {
  font-size: 18px;
  vertical-align: middle;
  padding-left: 6px;
}

.navbar-nav .nav-link.active {
  color: #1e1e1e;
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-item:hover ul.sub-menu {
  display: block !important;
  position: absolute;
  width: 200px;
  left: 6px;
  top: 50px;
  z-index: 999;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, .1);
  transition: all 0.2s ease;
}

.sub-menu {
  display: none;
}

.child-sub-menu {
  display: none;
}

.navbar-nav .nav-item:hover ul.sub-menu li:hover .child-sub-menu {
  display: block !important;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 63px;
  z-index: 999;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, .1);
  transition: all 0.2s ease;
}

.navbar-nav .nav-item:hover ul.sub-menu li,
ul.child-sub-menu li {
  display: block;
  padding: 12px 20px;
  white-space: normal;
  border-top: 1px solid rgba(50, 50, 50, .1);

}

.navbar-nav .nav-item:hover ul.sub-menu li a,
ul.child-sub-menu li a span {
  color: #103178;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}

.navbar-nav .nav-item:hover ul.sub-menu li:hover {
  background: #fd8111;
  cursor: pointer;
}

.navbar-nav .nav-item:hover ul.sub-menu li:hover a,
ul.child-sub-menu li:hover a span {
  color: #fff;
  cursor: pointer;
}

.tables-shadow .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  box-shadow: none !important;
}

.fliters-sec input {
  border-radius: 5px;
  height: 35px;
  border: 1px solid #ccc;
  padding-left: 10px;
}

.tables-shadow .table thead th {
  font-size: 15px !important;
  padding: 14px 8px;
  text-transform: uppercase;
  font-family: system-ui !important;
}

.tables-shadow .table tbody td {
  font-family: system-ui !important;
  font-size: 14px !important;
}

.tables-shadow .table tbody tr:hover {
  background: #fafafa;
}

.tables-shadow .table p {
  margin: 0;
}


@keyframes DropDownSlide {
  0% {
    transform: translateY(12px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes DropDownSlide {
  0% {
    -webkit-transform: translateY(12px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

.drop-down-slide {
  animation-name: DropDownSlide;
  -webkit-animation-name: DropDownSlide;
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.label-column::after {
  content: ":";
  position: absolute;
  right: 0;
  top: 0;
  color: #000;
}

.general-detailes-text p {
  font-size: 15px;
  color: #000;
  margin: 0;
  font-weight: 600;
}

.general-detailes-text span {
  font-size: 15px;
  color: #808081;
  padding-left: 10px;
  display: inline-block;
}

.padding-tp-10 {
  padding-bottom: 15px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App_bg_red {
  background-color: aquamarine;
}

.Nav_bg {
  background-color: rgb(179, 220, 206);
}

.Container_bg {
  background-color: rgb(142, 150, 147);
}

.font_size_default {
  font-size: 14px;
}

.font_size_16_normal {
  font-size: 16px;
}

.font_size_14_normal {
  font-size: 14px;
}

.fixed-head {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.align_p_tag p {
  margin: 0 !important;
}

.Full_Screen {
  width: "100%";
  height: 100vh;
}

.padding_top {
  padding-top: 70px;
}

.padding_top_carosuel {
  padding-top: 70px;
}

.padding_left_4p {
  padding-left: 4%;
}

.bg_orange_FFFFCC {
  background-color: "#FFFFCC" !important;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}
.cards_view .card{
  background: #ffffff;
  padding: 8px;
  box-shadow: 0px 0px 5px 0px rgba(171, 171, 171, 1);
  border: 0px;
  border-radius: 10px;
}
.cards_view .card-body{
  background: #ffedec;
  padding: 12px 13px;
  border-radius: 10px;
  position: relative;
}
.cards_view .card-title{
  font-size: 16px;
  color: #333;
  margin:0;
}
.cards_view .card-title .fa{
  font-size: 18px;
  color: #4e67ff;
  padding-right: 5px;
  vertical-align: top;
}
.dateSpan{
  background: #fbc8be;
  padding: 8px 5px 8px 10px;
  border-radius: 20px 10px 0px 20px;
  display: inline-block;
  color: #734b3f;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  top: 0px;
  right: 0;
}
.tabletslistview ul{
  margin:0;
  padding: 0;
}
.tabletslistview ul li{ 
  padding-left: 10px;
}
.tablets_list{
  color: #6c4337;
  font-size: 16px;
  margin: 0;
}
.top-right-icons {
  font-size: 19px;
  position: absolute;
  right: 1px;
  top: -4px;
  cursor: pointer;
  color: #6a6a6a;
}
.margin_tp_22{
  margin-top: 22px;
}


.login_width{
  width: 950px;
  margin:0 auto;
  background: #fff;
  box-shadow: 0px 0px 9px 0px rgba(46,46,46,1);
}
.left-bg-login{
  background: #fd8111;
  padding:10px;
}
.grid-system {
  display: grid;
  /*grid-template-columns: repeat(5, minmax(0, 1fr));*/
  /*grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));*/
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 10px 15px;
}
/* .equal-height {
  display: flex;
  flex-wrap: wrap;
} */


/*Login-start*/
.login_center{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.content {
  width: 330px;
  padding: 40px 30px;
  background: #dde1e7;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73,
               2px 2px 5px rgba(94,104,121,0.288);
}

.content .text_login {
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 35px;
  color: #595959;
  text-align: center;
}

.field {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}

.field:nth-child(2) {
  margin-top: 20px;
}

.field .input {
  height: 100%;
  width: 100%;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: #dde1e7;
  color: #595959;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #BABECC,
              inset -5px -5px 10px #ffffff73;
}

.field .input:focus {
  box-shadow: inset 1px 1px 2px #BABECC,
              inset -1px -1px 2px #ffffff73;
}

.field .span {
  position: absolute;
  color: #595959;
  width: 50px;
  line-height: 50px;
  text-align: center;
}
.field .span .fa{
  font-size: 20px;
}

.field .label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45px;
  pointer-events: none;
  color: #666666;
}

.field .input:valid ~ label {
  opacity: 0;
}

.forgot-pass {
  text-align: left;
  margin: 10px 0 10px 5px;
}

.forgot-pass a {
  font-size: 16px;
  color: #666666;
  text-decoration: none;
}

.forgot-pass:hover a {
  text-decoration: underline;
}

.buttonSign {
  margin: 15px 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  background: #dde1e7;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #595959;
  box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
}

.buttonSign:focus {
  color: #3498db;
  box-shadow: inset 2px 2px 5px #BABECC,
             inset -5px -5px 10px #ffffff73;
}

.sign-up {
  margin: 10px 0;
  color: #595959;
  font-size: 16px;
}

.sign-up a {
  color: #3498db;
  text-decoration: none;
}

.sign-up a:hover {
  text-decoration: underline;
}
/*Login-end*/


.shadow_box {
  /* box-shadow: 8px 8px 11px #9E9EA3; */
  /* box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  background: #fff;
  padding: 15px 10px; */
  background: #fff;
  padding: 15px 22px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 44%);
  border-radius: 12px;
}

.shadow_box_input {
  box-shadow: 8px 8px 11px #ffffff;
}

.shadow_none .form-control:focus {
  box-shadow: none;
}

.input_hight_45 {
  height: 45px;
}

.input_hight_38 {
  height: 38px;

}

.background_color_light_grey {
  background-color: white
}

.bg_orange {
  background-color: orange;
}

.display_block {
  display: inline-block;
}

.padding_25p {
  padding: 25%;
}

.marginTop_Radio_btn_25 {
  margin-top: 25px;
}

.logo_color_red {
  color: red;
}

/* 
input[type="file"] {
  display: none;
} */

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-color: rgb(142, 150, 147);
}

.hide-content {
  display: none;
}

.dummy_div {
  height: 10px;
  padding-top: 60px
}

.margin_bottom_50 {
  margin-bottom: 50px;
}

.top_right_0 {
  top: 0px;
  right: 0px;
}

.top_6 {
  top: 6px
}

.top_5 {
  top: 5px
}

.right_10 {
  right: 10px;
}


.center-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.dropdown-show:hover .hide-content {
  display: block;
}

.dropdown-show:hover {
  color: red;
}

.color_red {
  color: red;
}

.color_white {
  color: rgb(255, 255, 255);
}

.color_red:hover {
  color: blue !important;
}

.width_100 {
  width: 100%;
}

.padding_horizental_35 {
  padding-left: 35px;
  padding-right: 35px;
}

.padding_vertical_50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.show_content {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #61dafb;
}

.position_relative {
  position: relative;
}

.position_absolute {
  position: absolute;
}

.table_header_light_grey {
  background-color: #e9e9e966;
}

.text_color_grey {
  color: grey;
}

.table_header_text_maroon {
  /* color: maroon !important; */
  color: black;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.handle_add_button_color_white {
  color: white;
}

.handle_content {
  background-color: #21a900;
  border-color: #21a900;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 2px 8px 2px 8px;
  font-size: 14px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.handle_content:hover {
  background-color: grey !important;
  border-color: grey !important;
  color: #ce4809;
}

/* .handle_content:hover+.show_content {
  display: block !important;
} */

.handle_content:active {
  background-color: #ce4809 !important;
  border-color: #ce4809 !;
}

.custom_black_border_button {
  border: 1px solid black !important;
  background-color: white !important;
  color: black;
}

.custom_black_border_button:hover {
  /* color: maroon !important;
  background-color: #e9e9e966 !important; */
  color: white !important;
  background-color: grey !important;
  border: 1px solid grey !important;


}

/* .custom_black_border_button:active {
  color: maroon !important;
  background-color: #e9e9e966 !important;

} */

.text_align_left {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.small_screen_hide {
  display: block;
}

.margin_bottom_15 {
  margin-bottom: 15px;
}

.margin_bottom_20 {
  margin-bottom: 20px;
}

.margin_bottom_25 {
  margin-bottom: 25px;
}

.marginTop_20 {
  margin-top: 20px;
}

.margin_right_10 {
  margin-right: 10px;
}

.marginTop_Radio_btn_50 {
  margin-top: 50px;

}

.save_btn_margin_bottom_15 {
  margin-bottom: 15px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.right-align {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.evens-align {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info-text {
  font-size: 19px;
  margin: 0;
}

.logo_scope {
  color: #0db400;
  font-size: 26px;
  margin-right: 7px;
  background: #fff;
  padding: 5px 7px 5px 7px;
  border-radius: 10px;
  vertical-align: bottom;
}

.border_w_2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.font_family_serif {
  font-family: serif !important;
}

.display_flex {
  display: flex;
}

.label-text-left {
  text-align: left;
}

.text_align_center {
  text-align: center;
}

.show_add_new {
  display: none;
}

.add_btn:hover .show_add_new {
  display: block;
}
.cards_view .card{
  background: #ffffff;
  padding: 8px;
  box-shadow: 0px 0px 5px 0px rgba(171, 171, 171, 1);
  border: 0px;
  border-radius: 10px;
}
.cards_view .card-body{
  background: #ffedec;
  padding: 12px 13px;
  border-radius: 10px;
  position: relative;
}
.cards_view .card-title{
  font-size: 16px;
  color: #333;
  margin:0;
}
.cards_view .card-title .fa{
  font-size: 18px;
  color: #4e67ff;
  padding-right: 5px;
  vertical-align: top;
}
.dateSpan{
  background: #fbc8be;
  padding: 8px 5px 8px 10px;
  border-radius: 20px 10px 0px 20px;
  display: inline-block;
  color: #734b3f;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  top: 0px;
  right: 0;
}
.tabletslistview ul{
  margin:0;
  padding: 0;
}
.tabletslistview ul li{ 
  padding-left: 10px;
}
.tablets_list{
  color: #6c4337;
  font-size: 16px;
  margin: 0;
}
.top-right-icons {
  font-size: 19px;
  position: absolute;
  right: 1px;
  top: -4px;
  cursor: pointer;
  color: #6a6a6a;
}
.margin_tp_22{
  margin-top: 22px;
}


.pdf-height{
  height:500px;
}


/* Resposive css work  */



@media (max-width: 575.98px) {
  .margin_vertical_10 {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .text_align_left {
    text-align: left;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .small_screen_hide {
    display: none;
  }

  .text_align_left {
    text-align: left;
  }
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .small_screen_hide {
    display: none;
  }

  .text_align_left {
    text-align: left;
  }

}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .space-evenly {
    justify-content: space-evenly;
  }

}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .space-evenly {
    justify-content: space-evenly;
  }


}