/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.background_color_light_grey {
  background-color: white
}

.text_align_left {
  text-align: left;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.shadow_box {
  box-shadow: 8px 8px 11px #9E9EA3;
}

.shadow_box_input {
  box-shadow: 8px 8px 11px #ffffff;
}

.shadow_none .form-control:focus {
  box-shadow: none;
}

.input_hight_45 {
  height: 45px;
}

.background_color_light_grey {
  background-color: white
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App_bg_red {
  background-color: aquamarine;
}

.Nav_bg {
  background-color: rgb(179, 220, 206);
}

.Container_bg {
  background-color: rgb(142, 150, 147);
}

.font_size_default {
  font-size: 14px;
}

.font_size_16_normal {
  font-size: 16px;
}

.fixed-head {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.Full_Screen {
  width: "100%";
  height: 100vh;
}

.padding_top {
  padding-top: 70px;
}

.padding_top_carosuel {
  padding-top: 70px;
}

.padding_left_4p {
  padding-left: 4%;
}

.bg_orange_FFFFCC {
  background-color: "#FFFFCC" !important;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.shadow_box {
  /* box-shadow: 8px 8px 11px #9E9EA3; */
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  background: #fff;
  padding: 15px 10px;
}

.shadow_box_input {
  box-shadow: 8px 8px 11px #ffffff;
}

.shadow_none .form-control:focus {
  box-shadow: none;
}

.input_hight_45 {
  height: 45px;
}

.background_color_light_grey {
  background-color: white
}

.bg_orange {
  background-color: orange;
}

.display_block {
  display: inline-block;
}

.padding_25p {
  padding: 25%;
}

.marginTop_Radio_btn_25 {
  margin-top: 25px;
}

.logo_color_red {
  color: red;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-color: rgb(142, 150, 147);
}

.hide-content {
  display: none;
}

.dummy_div {
  height: 10px;
  padding-top: 60px
}

.margin_bottom_50 {
  margin-bottom: 50px;
}

.top_right_0 {
  top: 0px;
  right: 0px;
}

.top_6 {
  top: 6px
}

.top_5 {
  top: 5px
}

.right_10 {
  right: 10px;
}


.center-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.dropdown-show:hover .hide-content {
  display: block;
}

.dropdown-show:hover {
  color: red;
}

.color_red {
  color: red;
}

.color_white {
  color: rgb(255, 255, 255);
}

.color_red:hover {
  color: blue !important;
}

.width_100 {
  width: 100%;
}

.padding_horizental_35 {
  padding-left: 35px;
  padding-right: 35px;
}

.padding_vertical_50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.show_content {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #61dafb;
}

.position_relative {
  position: relative;
}

.position_absolute {
  position: absolute;
}

.table_header_light_grey {
  background-color: #e9e9e966;
}

.text_color_grey {
  color: grey;
}

.table_header_text_maroon {
  /* color: maroon !important; */
  color: black;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.handle_add_button_color_white {
  color: white;
}

.handle_content {
  background-color: #ce4809;
  border-color: #ce4809;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.handle_content:hover {
  background-color: grey !important;
  border-color: grey !important;
  color: #ce4809;
}

/* .handle_content:hover+.show_content {
  display: block !important;
} */

.handle_content:active {
  background-color: #ce4809 !important;
  border-color: #ce4809 !;
}

.custom_black_border_button {
  border: 1px solid black !important;
  background-color: white !important;
  color: black;
}

.custom_black_border_button:hover {
  /* color: maroon !important;
  background-color: #e9e9e966 !important; */
  color: white !important;
  background-color: grey !important;
  border: 1px solid grey !important;


}

/* .custom_black_border_button:active {
  color: maroon !important;
  background-color: #e9e9e966 !important;

} */

.text_align_left {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.small_screen_hide {
  display: block;
}

.margin_bottom_15 {
  margin-bottom: 15px;
}

.margin_bottom_20 {
  margin-bottom: 20px;
}

.margin_bottom_25 {
  margin-bottom: 25px;
}

.marginTop_20 {
  margin-top: 20px;
}

.margin_right_10 {
  margin-right: 10px;
}

.marginTop_Radio_btn_50 {
  margin-top: 50px;

}

.save_btn_margin_bottom_15 {
  margin-bottom: 15px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.right-align {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.font_family_serif {
  FONT-FAMILY: serif !important;
}

.display_flex {
  display: flex;
}

.label-text-left {
  text-align: left;
}

.text_align_center {
  text-align: center;
}

.show_add_new {
  display: none;
}

.add_btn:hover .show_add_new {
  display: block;
}

.pdf-height{
  height:500px;
}


/* Resposive css work  */



@media (max-width: 575.98px) {
  .margin_vertical_10 {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .text_align_left {
    text-align: left;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .small_screen_hide {
    display: none;
  }

  .text_align_left {
    text-align: left;
  }
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .small_screen_hide {
    display: none;
  }

  .text_align_left {
    text-align: left;
  }

}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .space-evenly {
    justify-content: space-evenly;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .space-evenly {
    justify-content: space-evenly;
  }

}